# this is for testing
on:
  push:
    branches:
    - main
    - FeatureBranch1

jobs:
  build-and-push:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
   
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1


    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: fastapi-example
        IMAGE_TAG: ${{ github.sha }}
      run: |
        # Build and tag the image
        docker build \
          -t $IMAGE_TAG\
          -t $AWS_ACCOUNT_ID.dkr.ecr.$AWS_DEFAULT_REGION.amazonaws.com/$IMAGE_TAG ./app
